@media (min-width: 300px) {
    
    .navigation{
        display:none;
    }

    .header{
        @include bgPic("/img/mountains.jpg",center,center);
        width:100%;
        height:75vh;
        display:flex;
        flex-direction: column;
        align-items: center;
        

        h2{
            margin-top:15%;
            margin-bottom:8%;
            color:white;
            width:50%;
            text-align: center;
            border-bottom:0;
        }

        p{
            width:50%;
            color:white;
            text-align:center;
            margin-bottom:8%;
        }

        .header_btn{
            display:flex;
            flex-direction: column;
            align-items: center;

        }

        .login{
            padding: 5%;
            font-size: 90%;
            color: white;
            font-weight: 600;
            border: 2px solid white;
            background-color: transparent;
            font-size:15px;
            width:12vh;
        }

        .signup{
            width:15vh;
            font-size:15px;
            background-color: $bgColorLightBlue;
            color: white;
            font-weight: 600;
            padding: 3%;
        }
    }

    .carousel-item{
        padding:3%;
        height:52vh;
        background-color: whitesmoke;
        border:5vh solid gray;
        img{
            width:30% !important;
            margin: 0 auto;
        }
        .carousel-caption{
            color:black;
        }
    }

    .grid-gallery {
        @include flexBox(column,center,center,wrap);
        padding: 2%;

        .gallery-bottom {
            padding: 2%;
            flex-direction: column;
            row-gap: 30px;
            text-align: center;
            h3 {
                padding: 5% 0%;
            }

            aside {
                width: 310px;
                height: 250px;
                @include bgPic($picMobile);
            }
        }

        [class*="gallery-box-"] {
            padding-left: 3%;
            padding: 2.5%;
            background-color: $bgColorLightGray;
            @include flexBox(column,flex-start,flex-start,nowrap);
        }
    }

    .subscribe {
        background-color: $bgColorLightBlue;
        color: white;
        padding: 5%;
        @include borderBox(2vh,solid,white);
        @include flexBox(column,center,center,nowrap);
        > h2 {
            width: 80%;
            padding: 15%;
            text-align: center;
            color: white;
        }
        > p {
            padding: 3%;
            text-align: center;
        }
        > form {
            width: 90%;
            @include flexBox(column,center,flex-start,nowrap,20px);
        }
        [type="email"] {
            width: 90%;
            padding: 4%;
            color: white;
            background-color: $color-1;
            &::placeholder {
                color: white;
            }
        }

        [type="submit"] {
            width: 50%;
            padding: 3%;
            font-size: 90%;
            color: white;
            font-weight: 600;
            background-color: $bgColorLightBlue;
            border: 2px solid white;
        }
    }

    .contact {
        padding: 3%;
        @include flexBox(column,center,center,nowrap);

        > p {
            width: 100%;
            text-align: center;
            padding: 10% 0%;
            font-size: 24px;
        }

        > form {
            width: 95%;
            @include flexBox(column,center,center,nowrap,20px);
        }

        .teem{
            @include flexBox(row);
            width:100%;
            row-gap:10px;
        }

        [type="text"],[type="email"],textarea {
            @include borderBox(1px, solid, $bgOverlay-2);
            font-family: $fontFamily;
            padding: 2.5%;
            width: 90%;
        }
        textarea {
            height: 25vh;
        }
        [type="submit"] {
            background-color: $bgColorLightBlue;
            color: white;
            font-weight: 600;
            width: 90%;
            padding: 2.5%;
        }

    }

    .footer {
        @include flexBox(column,center,center,nowrap,50px);
        background-color: $bgColorLightGray;
        padding: 2%;
        height: 30vh;
        color: $bgBody;
        .icons {
            width: 60%;
            display: flex;
            justify-content: space-between;
            a {
                color: $bgBody;
                text-decoration: none;
            }
        }
    }
}