@media (min-width:700px){

    .navigation{
        display:block;
        z-index:1;
        position:absolute;
        width:98%;
        padding:1%;
    
        ul{
            display:flex;
            justify-content: space-between;
            list-style: none;
        }

        li{
            list-style: none;
        }

        a{
            color:white;
            font-size:20px;
        }
    }


    .header{
        h2{
            margin-top:20%;
            width:70%;
        }
        p{
            width:70%;
            font-size:18px;
        }

        .header_btn{
            display:flex;
            flex-direction:row;
            column-gap: 20px;
        }

        .login{
            height:5vh;
        }
        .signup{
            height:5vh;
        }

    }



    .grid-gallery{

        .gallery-bottom {
            display:flex;
            justify-content: space-between;
            width:90%;
            row-gap:20px;
        
            aside {
                width: 230px;
                height: 200px;
                @include bgPic($picTablet);
            }
        }
    

        [class*="gallery-box-"]{
            width:45%;
            
        }

    }


    .subscribe{
        padding:3%;

        
        > h2 {
            padding: 5%;
        }

        > form {
            width: 92%;
        }

        [type="email"]{
            width:95%;
            padding:3%;
        }

        [type="submit"]{
            width:22%;
            padding:2%;
            height:20%;
        }



    }


    .contact{

        > form {            
            @include flexBox(flex,space-between,center,wrap,20px);
        }


        [id="name"], [id="email-contact"]{
            width:40%;
        }

    }



    .footer{
        height: 20vh;

        .icons{
            width:40%;
        }
    }
}